<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/vue.js"></script>
    </head>
    <body>

   <div id="app">
   <h1>{{total}}</h1>
   <button-inc v-on:ince="incetotal" v-on:mouseenter.native="aaa"> </button-inc>
   <button-inc  v-on:ince="incetotal"> </button-inc>
   <current-input v-model="price"></current-input>
   <my-checkbox v-model="foo" value="some value"></my-checkbox>
   </div>
    <script>
        Vue.component('my-checkbox', {
template:'<input type="checkbox">',
  model: {
    prop: 'checked',
    event: 'change'
  },
  props: {
    checked: Boolean,
    // this allows using the `value` prop for a different purpose
    value: String
  },
  // ...
})

        Vue.component('current-input',{
            template:'<span><input v-bind:value="value" @input="updatedval($event.target.value)"></span>',
            props:["value"],
            methods:{
              updatedval: function (value) {
      var formattedValue = value
        // 删除两侧的空格符
        .trim()
        // 保留 2 小数位
        .slice(
          0,
          value.indexOf('.') === -1
            ? value.length
            : value.indexOf('.') + 3
        )
      // 如果值不统一，手动覆盖以保持一致
      if (formattedValue !== value) {
        this.$refs.input.value = formattedValue
      }
      // 通过 input 事件发出数值
      this.$emit('input', Number(formattedValue))  
            }
            }
        })
        Vue.component("button-inc",{
            template:'<button v-on:click="incesss">{{counter}}</button>',
            data:function(){
                return {counter:0}
            },
            methods:{
                incesss:function(){
                    this.counter+=1;
                    this.$emit('ince');
                }
            }
        })
      new Vue({
        el:'#app',
        data:{
            total:0,
            price:'',
            foo:''
        },
        methods:{
            aaa:function(){
                alert(1)
            },
            incetotal:function(){
                this.total+=1;
            }
        }
    })
         
    </script>
    </body>
</html>